@model LoginCred
<form asp-action="Login" asp-controller="Home" method="post" class="container p-3 text-light bg-dark">
    <h1 class="mb-3">Log in</h1>
    <div class="mb-3">
        <label asp-for="EmailCred">Email</label>
        <input asp-for="EmailCred" class="form-control">
        <span asp-validation-for="EmailCred" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PasswordCred">Password</label>
        <input asp-for="PasswordCred" class="form-control">
        <span asp-validation-for="PasswordCred" class="text-danger"></span>
    </div>
    <input type="submit" value="Login" class="btn btn-success">
</form>